<style>
      h3{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }
   img{
    width:700px;
    height: auto;
    align-self: center;
  } 

</style>


<!-- Home Section -->
<div class="container">
  <div class="home" id="home">
    <div class="card mb-3">
        <img src="../../assets/ratish.jpg" class="img-thumbnail" alt="...">
      <div class="card-body">
        <h3 class="card-title">Ratish Sharma</h3>
          <div class="container">
            <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded"><h1>I am a Full Stack Developer || Web Designer || Coder<!--<span class="auto-type"></span>--></h1></div>
          </div>
          <!-- <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
          <script>
            var typed = new Typed(".auto-type",{
              strings:["Coder", "Web Designer", "Full Stack Developer"],
              typespeed: 150,
              backspeed: 150,
              loop: true
            })
          </script> -->
      </div>
    </div>
  </div>
</div>