<!-- About Section -->
<div class="container">
  <div class="about" id="about">
    <div class="card">
      <div class="card-header">
        <h4>About</h4>
      </div>
      <div class="card-body">
        <p class="card-text">Hello Everyone! I am Ratish Sharma. I am I am looking for an entry-level position to kickstart my career in the IT field. I wish to work in a dynamic organisation that will contribute to my professional and personal growth.I am good at picking up new skills quickly and applying the information to solve Real-Life Problems.</p>
        <p>I have done my schooling from Guru Amar Dass Public School, Jalandhar. I had scored 87.2% in class X examinations and 73.4% in class XII examinations. Currently I am pursuing B.Tech. in Electronics and Communication Engineering from DAVIET Jalandhar.</p>
        <p>Other than this, I had done 6-Week Industrial Training in Core Python and 6-Months Industrial Training in Full Stack Development.</p>
        <p>I also participated in various inter-college competitions and had also won 3rd position in ElectroHunt competition organised at GNA University Phagwara.</p>
        <p>Other than that I had also been the member of the organizing team of Workshop on IOT at DAVIET, Jalandhar and Mehr Chand Polytechnic College, Jalandhar. I have also served as a volunteer for Google Developer Student's Club (GDSC) DAVIET.
        </p>
      </div>
    </div>
  </div>