<style>

</style>


<!-- Resume Section -->
<div class="container">
  <div class="about" id="resume">
    <div class="card">
      <div class="card-header">
        <h4>Resume</h4></div>
      <div class="card-body">
        <ul type="i">
          <li><h6>Education</h6> <p>
            Undergraduate: DAV Institute of Engineering & Technology | B.Tech. ECE || SGPA:  7.81/10.00<br>
            Schooling: Guru Amar Dass Public School Class X  87.2% || Class XII 73.4%  <br>
            Additional Courses: Core Python (6Weeks) Full Stack Development (6 Months)
            </p></li>
          <li><h6>Skills</h6><p>
            Languages: C/C++ || Python || HTML || CSS || Javascript <br>
            Web Frameworks: Node.js || Angular.js <br>
            Tools: Postman || MongoDB
          </p></li>
          <li><h6>Projects</h6> <p>
            Weather Forecast Application: Using Python, made a desktop based application, which shows the weather forecast of upto 7 days using the API of some other website. <br>
            Smart Parking System (Ongoing): Making a Smart Parking System using IOT which provides users the facility to book parking slots and helps in avoiding issues rised due to non systematic parking. <br>
          </p></li>
          <li><h6>Position of Responsibility</h6> <p>
            Volunteer for Google Developer Student's Club (GDSC) DAVIET, Jalandhar <br>
            Member of organizing team of Workshop on IOT in DAVIET, Jalandhar <br>
            Member of organizing team of Workshop on IOT in Mehr Chand Polytechnic College, Jalandhar
          </p></li>
          <a href="https://drive.google.com/file/d/1k89BEJtEyVfDlkS34xEJCZV4WxBAdbMo/view" class="nav-link scrollto"><i class="bi bi-download"></i>
            <span class="badge rounded-pill text-bg-secondary">View CV</span>
          </a>
          <a href="https://drive.google.com/u/0/uc?id=1k89BEJtEyVfDlkS34xEJCZV4WxBAdbMo&export=download" class="nav-link scrollto"><i class="bi bi-download"></i>
            <span class="badge rounded-pill text-bg-secondary">Download CV</span>
          </a>
        </ul>    
      </div>
    </div>
  </div>
</div>